annotated-types
anyio
APScheduler==3.10.4
certifi
colorama
dateparser==1.2.1
distro
exceptiongroup
h11
h2
hpack==4.0.0
httpcore
httpx
hyperframe
idna
jiter
notion-client
openai
pydantic
pydantic_core
python-dateutil==2.9.0.post0
python-telegram-bot
pytz==2025.1
regex==2024.11.6
setuptools==72.1.0
six==1.17.0
sniffio
tqdm
typing_extensions
tzlocal==5.3
wheel==0.44.0
python-dotenv==1.1.0
